{% extends '_layouts/detail-entry.njk' %}

{% set members = queen.members[0] %}

{% block page_title %}Brian May{% endblock %}

{% block description %}Blog entry description.{% endblock %}

{% block info %}

  <p class="birthplace">{{members.birthplace}}<br>
  <span>{{members.birthdate}}</span></p>
{% endblock %}

{% block story %}
  <h1>{{members.name}}</h1>
  <h5>{{members.instruments}}</h5>
  <p>{{members.text | safe}}</p>
{% endblock %}

