{% extends '_layouts/detail-entry.njk' %}

{% set members = queen.members[0] %}

{% block page_title %}Queen | Freddie Mercury{% endblock %}


{% block info %}
  <img src="img/members/{{ members.image }}" class="img-fluid">

  <hr>
  <h6>Birthplace</h6>
  <p class="birthplace">{{members.birthplace}}<br>
  <h6>Birthdate</h6>
  <span>{{members.birthdate}}</span></p>
{% endblock %}

{% block story %}
  <h1>{{members.name}}</h1>
  <h5>{{members.instruments}}</h5>
  <p class="membertext">{{members.text | safe}}</p>
{% endblock %}

