{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}A project about the best band in the world.{% endblock %}


{% block content %}
  <div class="container">
    
    <div class="row">
     <div class="col-md-12">
        <div class="bandImage py-5">
          <img src="img/queen-live-on-stage.jpg" class="img-fluid">
        </div>
        
            <p class="bandSummary">
              <a href="https://en.wikipedia.org/wiki/Queen_(band)">Queen are a British rock band</a> formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.
            </p>
        </div>

    <hr>

      {% for member in queen.members %}
        <div class="col-md-6">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row">
              <div class="col-md-4">
                 <img src="img/members/{{ member.imagebw }}" class="card-img" alt="member image">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="member-name card-title"><a href="{{member.slug}}.html">{{member.name}}</a></h4>
                  <p class="tenure card-text">{{member.tenure}}</p>
                </div>
              </div>
            </div>
           </div>
          </div>
      {% endfor %}

  </div>
</div>
{% endblock %}
