// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

/* bootstrap */
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins"; 

// Import partials
@import "nav";
@import "detail-entry";

.jumbotron {
  margin-bottom: 0px;
  background: url(../img/queen-band-wallpaper.jpg) no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 31rem;
}
.carousel-item {
  padding-bottom: 1rem;
}
.row-featurette {
  display: flex;
}
.bandSummary {
  font-family: 'DM Sans';
}
.member-headline {
  font-family: 'Cinzel';
}
.lead {
  font-family: 'DM Sans';
}